
[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=WiFi Accesspoint
Name[de]=WLAN access point
Comment=Spawn an access point to bridge between a wireless and a wired interface
Comment[de]=Erstellen Sie einen WLAN-Accesspoint als Brücke zu einem drahtgebundenen Netzwerk
Categories=Utility;
Exec=sudo /usr/bin/accesspoint.sh
Icon=network-wireless-symbolic
Terminal=false
StartupNotify=true
