
[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Install additional software
Name[de]=Software installieren
Comment=Install software that is only available as BLOB
Comment[de]=Installieren Sie Software, die nur als BLOB erhältlich ist
Categories=Utility;
Exec=sudo /usr/bin/blobinstall.sh
Icon=system-software-installer
Terminal=false
StartupNotify=true
