
[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Create rescue image
Name[de]=Rettungs-Image erstellen
Description=Use ddrescue to create an image of an broken disk
Description[de]=Mit ddrescue ein Image eines defekten Laufwerkes erstellen
Categories=CB-Rescue;
Exec=sudo /usr/bin/ddrescueimage.sh
Icon=gnome-dev-harddisk
Terminal=false
StartupNotify=true
