
[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Mount CIFS or WebDAV shares
Name[de]=CIFS- oder WebDAV-Freigaben einbinden
Comment=Mount CIFS (Windows) shares or WebDAV folders to folders in the local filesystem
Comment[de]=Binden Sie CIFS- (Windows-Freigaben) oder WebDAB-Ordner als lokale Ordner ein
Categories=Utility;
Exec=sudo /usr/bin/mountnet.sh
Icon=network_fs
Terminal=false
StartupNotify=true
