
[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=QEMU
Name[de]=QEMU
Description=Launch QEMU with a hard drive image
Description[de]=QEMU mit Festplattenimage starten
Categories=CB-Other;
Exec=sudo /usr/bin/qemustarter.sh
Icon=gnome-dev-harddisk
Terminal=false
StartupNotify=true
