
[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Start iSCSI target
Name[de]=iSCSI Target starten
Comment=Export drives via iSCSI
Comment[de]=Gegen Sie Laufwerke über das iSCSI-Protokoll frei
Categories=Utility;
Exec=sudo /usr/bin/runiscsitgt.sh
Icon=network_fs
Terminal=false
StartupNotify=true
