
[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Start VNC server
Name[de]=VNC-Server starten
Comment=Share your desktop via VNC
Comment[de]=Teilen Sie Ihren Desktop per VNC
Categories=Utility;
Exec=/usr/bin/runx11vnc.sh
Icon=monitor
Terminal=false
StartupNotify=true
