
[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Check for updates
Name[de]=Suche nach Aktualisierungen
Comment=Check whether software updates are available
Comment[de]=Prüfen Sie, ob Software-Aktualisierungen verfügbar sind
Categories=Utility;
Exec=/etc/lesslinux/updater/update_wrapper.sh
Icon=system-upgrade
Terminal=false
StartupNotify=true
