
[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Convert disk to VM image
Name[de]=Festplatte nach VM Image
Description=Convert disk to VM image
Description[de]=Wandeln Sie eine Festplatte in eine Image für virtuelle Maschinen um
Categories=CB-Rescue;
Exec=sudo /usr/bin/vdiskimage.sh
Icon=gnome-dev-harddisk
Terminal=false
StartupNotify=true
