
[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=VSS access
Name[de]=VSS-Zugriff
Description=Access VSS snapshots
Description[de]=Zugriff auf VSS-Schnappschüsse
Categories=CB-Other;
Exec=sudo /usr/bin/vshadowgui.sh
Icon=gnome-dev-harddisk
Terminal=false
StartupNotify=true
