<mailconfig>
	<sender>me@somedomain.com</sender>
	<sendernice>LessLinux Builder</sendernice>
	<receiver>someone@somedomain.com</receiver>
	<mailhost port="587">mail.somedomain.com</mailhost>
	<mailuser>johndoe</mailuser>
	<mailpass>topsecret</mailpass>
</mailconfig>
	