<llpackages>
	<package 
		name="device-mapper"
		version="2.02.181"
		class="user"
		install="destdir">
		<license>GPLv2</license>
		<sources>
			<file>                                                                                          
				<pkg sha1="2802799c60ef4f61534df1e40bcc29e4e043b29b">LVM2.2.02.181.tgz</pkg>
				<mirror>ftp://sources.redhat.com/pub/lvm2/</mirror>
			</file>
			<manualcheck date="20170801" interval="90" page="http://mirrors.kernel.org/sources.redhat.com/lvm2/" />
			<check>
				<page html="http://mirrors.kernel.org/sources.redhat.com/lvm2/">
					<atext linktext="LVM2.2.02.176.t" />
					<atext linktext="LVM2.2.02.178.t" />
					<atext linktext="LVM2.2.02.179.t" />
					<atext linktext="LVM2.2.02.180.t" />
					<atext linktext="LVM2.2.02.181.t" />
					<atext linktext="LVM2.2.02.182.t" />
					<atext linktext="LVM2.2.02.174.t" />
					<atext linktext="LVM2.2.02.175.t" />
					<atext linktext="LVM2.2.02.19" />
					<atext linktext="LVM2.2.02.18" />
					<atext linktext="LVM2.2.03" />
					<atext linktext="LVM2.2.04" />
					<atext linktext="LVM2.3" />
					<atext linktext="LVM2.4" />
				</page>
			</check>
		</sources>
		<builddeps>
			<dep>bash</dep>
                        <dep>binutils</dep>
                        <dep>coreutils</dep>
                        <dep>diffutils</dep>
                        <dep>gawk</dep>
                        <dep>gcc</dep>
                        <dep>glibc</dep>
                        <dep>grep</dep>
                        <dep>inetutils</dep>
                        <dep>linux_headers</dep>
                        <dep>make</dep>
                        <dep>pkg-config</dep>
                        <dep>sed</dep>
                        <dep>util-linux-ng</dep>
			<dep>distcc</dep>
			<dep>libaio</dep>
		</builddeps>
		<unpack>
			<![CDATA[ 
			tar xzf ${SRCDIR}/LVM2.${PKGVERSION}.tgz
			]]>
		</unpack>
		<patch />
		<build>
			<![CDATA[
			cd LVM2.${PKGVERSION}
			if [ -n "$DISTCC_POTENTIAL_HOSTS" ] ; then
				jobcount=` expr $DISTCC_HOSTCOUNT '*' 2 `
				export CC="distcc gcc"
				export CXX="distcc g++" 
				./configure --prefix=/usr --sysconfdir=/etc --enable-dmeventd --enable-cmdlib  CC="distcc gcc" CXX="distcc g++" 
				make -j $jobcount CC="distcc gcc" CXX="distcc g++" 
			else
				./configure --prefix=/usr --sysconfdir=/etc --enable-dmeventd --enable-cmdlib
				make
			fi
			]]>
		</build>
		<test />
		<install>
			<![CDATA[
			cd LVM2.${PKGVERSION}
			make install DESTDIR=${TGTDIR}
			]]>
		</install>
		<clean>
			<![CDATA[
			rm -rf LVM2.${PKGVERSION}
			]]>
		</clean>
	</package>
</llpackages>
