
[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=ESET Rescue GUI
Comment=Virus scan with ESET
Comment[de]=Virenscan mit ESET
Categories=CB-Rescue;
Exec=eset.sh
Icon=emblem-system
Terminal=false
StartupNotify=true
