
[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=OpenVAS
Name[de]=OpenVAS
Description=Network vulnerability scanner
Description[de]=Netzwerk-Schwachstellen-Scanner
Categories=CB-Other;
Exec=sudo /usr/bin/ruby /usr/bin/openvas-wrapper.rb
Icon=gnome-dev-network
Terminal=false
StartupNotify=true
