[Global]
MoveFirst=false
ArrowPosition=0

[Entry 0]
Name=Web Browser
Name[pl]=Przeglądarka internetowa
Comment=Surf the internet
Icon=/opt/firefox50/icons/mozicon128.png
Exec=exo-open --launch WebBrowser
Path=/home/surfer
Terminal=false
StartupNotify=false

