[Entry 0]
Name=File manager
Name[de]=Dateimanager
Name[pl]=Menedżer plików 
Comment=Manage files and folders
Icon=file-manager
Exec=thunar
Path=/
Terminal=false
StartupNotify=true

[Global]
MoveFirst=false
ArrowPosition=0

[Entry 1]
Name=Access disks
Name[de]=Zugriff auf Laufwerke
Name[pl]=Dostęp do dysków 
Comment=
Icon=gnome-dev-harddisk
Exec=mmmm.rb
Path=/home/surfer
Terminal=false
StartupNotify=false

