[Entry 2]
Name=PDF viewer
Name[de]=PDF-Betrachter
Name[pl]=Przeglądarka PDF 
Comment=View PDF and PostScript files
Comment[de]=Betrachter für PDF- und PostScript-Dateien
Icon=evince
Exec=/usr/bin/evince %f
Path=/home/surfer
Terminal=false
StartupNotify=false

[Global]
MoveFirst=false
ArrowPosition=0

[Entry 0]
Name=Text processor
Name[de]=Textverarbeitung
Name[pl]=Edytor tekstu
Icon=abiword_48
Exec=abiword
Path=/home/surfer
Terminal=false
StartupNotify=false

[Entry 1]
Name=Spreadsheet
Name[de]=Tabellenkalkulation
Name[pl]=Arkusz kalkulacyjny
Comment=Gnumeric Spreadsheet
Icon=gnumeric
Exec=gnumeric
Path=/home/surfer
Terminal=false
StartupNotify=false

