[Entry 0]
Name=Search for updates
Name[de]=Suche nach Updates
Name[pl]=Wyszukaj aktualizacje 
Icon=important
Exec=/etc/lesslinux/updater/update_wrapper.sh
Path=/home/surfer
Terminal=false
StartupNotify=false

[Global]
MoveFirst=false
ArrowPosition=0

