[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=TeamViewer 9
Comment=TeamViewer Remote Control Application
Comment[de]=TeamViewer Fernwartungsanwendung
Exec=sudo /usr/bin/teamviewer.sh
Icon=/opt/teamviewer/teamviewer9/tv_bin/desktop/teamviewer.png
Type=Application
Categories=CB-Other;Network;
