[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=TeamViewer
Comment=TeamViewer Remote Control Application
Comment[de]=TeamViewer Fernwartungsanwendung
Exec=/usr/bin/teamviewer.sh
Icon=/usr/share/icons/teamviewer.png
Type=Application
Categories=CB-Other;
