[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Install Flash
Name[de]=Flash installieren
Comment=Install the Adobe Flash plugin to your Firefox profile
Comment[de]=Installieren Sie das Adobe Flash-Plugin für Firefox
Categories=Utility;
Exec=/usr/bin/flashinstall-wrapper.sh
Icon=/usr/share/icons/flash32.png
Terminal=false
StartupNotify=true
