[Desktop Entry]
Name=Shutdown
Name[de]=Herunterfahren
Name[pl]=Wyłącz komputer
Comment=Shutdown the Computer
Comment[de]=Fahren Sie den Computer herunter
Comment[pl]=Wyłącz komputer
Exec=shutdown-wrapper.sh
Icon=gnome-shutdown
Terminal=false
Type=Application
StartupNotify=false
Categories=System;
