
[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Web-Browser
Name[es]=Navegador web
Comment=
Categories=Network;
Exec=/usr/bin/firefox
Icon=internet-web-browser
Terminal=false
StartupNotify=true
