
[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Email client
Name[de]=E-Mail-Client
Name[pl]=Email client
Name[es]=Cliente de email
Comment=
Categories=Network;
Exec=/usr/bin/thunderbird
Icon=/usr/share/icons/thunderbird256.png
Terminal=false
StartupNotify=true
