
[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=ClamAV
Comment=Virus scan with ClamAV
Comment[de]=Virenscan mit ClamAV
Comment[pl]=Virus scan with ClamAV
Categories=CB-Rescue;
Exec=avfrontend-clamav.sh
Icon=emblem-system
Terminal=false
StartupNotify=true

