
[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Avira
Comment=Virus scan with Avira
Comment[de]=Virenscan mit Avira
Comment[pl]=Virus scan with Avira
Categories=CB-Rescue;
Exec=avfrontend-avira.sh
Icon=emblem-system
Terminal=false
StartupNotify=true

