
[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Check SMART
Name[de]=Platte testen
Name[pl]=Sprawdz SMART
Name[es]=Comprobación SMART
Comment=
Categories=CB-Rescue;
Exec=sudo /usr/bin/gsmartcontrol
Icon=gsmartcontrol
Terminal=false
StartupNotify=true

