
[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Reset password
Name[de]=Kennwort neu
Name[pl]=Kasuj haslo Windows
Name[es]=Eliminar contraseña
Comment=
Categories=CB-Rescue;
Exec=sudo /usr/bin/chntpwgui.sh
Icon=system-config-users
Terminal=false
StartupNotify=true

