
[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Reset windows shell
Name[de]=Windows Shell zurücksetzen
Comment=Reset the windows shell in cases where a malware is started instead of the desktop
Comment[de]=Setzen Sie die Windows-Shell zurück falls Schadsoftware anstelle des Desktops gestartet wird
Categories=CB-Rescue;
Exec=sudo /usr/bin/resetshell.sh
Icon=emblem-system
Terminal=false
StartupNotify=true

