
[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Install to USB drive
Name[de]=Installation auf USB-Laufwerk
Comment=Install the currently running system to a USB thumb drive
Comment[de]=Installieren Sie das laufende System auf einen USB-Stick
Categories=Utility;
Exec=sudo /usr/bin/usbinstall.sh
Icon=drive-removable-media-usb
Terminal=false
StartupNotify=true
