
[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=GParted partitioning tool
Name[de]=GParted Partitionierungswerkzeug
Name[pl]=Narzędzie partycjonowania GParted
Name[es]=Herramienta de particionado GParted
Comment=
Categories=CB-Other;
Exec=/usr/bin/gparted_wrapper.sh
Icon=gparted
Terminal=false
StartupNotify=true
GenericName=

