
[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Restore lost files
Name[de]=Daten retten
Name[pl]=Odzyskaj utracone pliki
Name[es]=Recuperar archivos perdidos
Comment=
Categories=CB-Rescue;
Exec=/usr/bin/photorec-starter.sh
Icon=emblem-photos
Terminal=false
StartupNotify=true

