
[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Restore MBR
Name[de]=Startsektor neu
Name[pl]=Przywroc MBR
Comment=
Categories=CB-Rescue;
Exec=/usr/bin/ms-sys-starter.sh
Icon=gsmartcontrol
Terminal=false
StartupNotify=true

