[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Disk shredder
Name[de]=Sicher löschen
Name[pl]=Bezpieczne kasowanie
Name[es]=Borrado de discos
Comment=
Categories=CB-Rescue;
Exec=sudo /usr/bin/deletedisk.sh
Icon=edit-delete
Terminal=false
StartupNotify=true

