
[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Clone hard disk
Name[de]=Platte klonen
Name[pl]=Klonuj dysk twardy
Name[es]=Duplicar disco duro
Comment=
Categories=CB-Rescue;
Exec=sudo /usr/bin/clonedisk.sh
Icon=stock_save
Terminal=false
StartupNotify=true

