
[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=FileZilla
Comment=
Categories=Utility;
Exec=/opt/bin/filezilla
Icon=gnome-fs-network
Terminal=false
StartupNotify=true
