
[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=File manager with root privileges
Name[de]=Dateimanager als Root
Name[pl]=Menedzer plikow z uprawnieniami roota
Name[es]=Gestor de archivos con permisos de administrador
Comment=
Categories=CB-Other;
Exec=sudo Thunar
Icon=system-file-manager
Terminal=false
StartupNotify=true

