
[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Root shell
Name[de]=Root-Shell
Name[pl]=Powloka roota
Name[es]=Root shell
Comment=
Categories=CB-Other;
Exec=sudo Terminal --default-working-directory=/root -x /bin/bash 
Icon=terminal
Terminal=false
StartupNotify=true

