
[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Find lost partitions
Name[de]=Partition retten
Name[pl]=Znajdz utracone partycje
Name[es]=Buscar particiones desaparecidas
Comment=
Categories=CB-Rescue;
Exec=Terminal --hide-menubar --hide-toolbar --disable-server -T TestDisk -x sudo testdisk
Icon=gparted
Terminal=false
StartupNotify=true

