
[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=PartImage
Comment=
Categories=CB-Other;
Exec=Terminal --hide-menubar --hide-toolbar --disable-server -T PartImage -x sudo /usr/sbin/partimage
Icon=gnome-dev-harddisk
Terminal=false
StartupNotify=true

