
[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Show hardware information
Name[de]=Hardware anzeigen
Name[pl]=Informacje o sprzecie
Name[es]=Información del hardware
Comment=
Categories=CB-Other;
Exec=sudo /usr/sbin/gtk-lshw
Icon=computer
Terminal=false
StartupNotify=true

