
[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Access network shares
Name[de]=Netzlaufwerke
Name[pl]=Udzialy sieciowe
Name[es]=Acceder a carpetas de red
Comment=
Categories=Utility;
Exec=/usr/bin/smbmm.rb
Icon=network_local
Terminal=false
StartupNotify=true

