

[Desktop Entry]
Name=Document Viewer
Name[de]=PDF-Betrachter
Name[pl]=Przeglądarka PDF 
Exec=evince %U
StartupNotify=true
Terminal=false
Type=Application
Icon=evince
Categories=CB-Workspace;

