
[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Notfall-Assistent
Comment=
Categories=CB-Rescue;
Exec=/opt/computerbild/rescuetool/rettungsassistent.sh
Icon=gtk-execute
Terminal=false
StartupNotify=true

